In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('datasets/organized_taxi_zone_lat_lon.csv')
df.head()

                      zone  LocationID        borough        lat        lon
0           Newark Airport           1            EWR  40.690243 -74.174270
1              Jamaica Bay           2         Queens  40.612163 -73.817643
2  Allerton/Pelham Gardens           3          Bronx  40.864294 -73.846510
3            Alphabet City           4      Manhattan  40.723853 -73.975209
4            Arden Heights           5  Staten Island  40.556678 -74.189803

In [3]:
df.shape

(263, 5)