In [1]:
import time
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from holidays.countries import US
import numpy as np

### DEFINE

In [2]:
# 讀取檔案位置

# 初始年月份
set_data_year = 2021
set_data_month = 1
# 檔案位置
Site = './data/'

datasite_fhvhv = [f'{Site}fhvhv_tripdata_{set_data_year}-01.parquet',
                  f'{Site}fhvhv_tripdata_{set_data_year}-02.parquet',
                  f'{Site}fhvhv_tripdata_{set_data_year}-03.parquet',
                  f'{Site}fhvhv_tripdata_{set_data_year}-04.parquet',
                  f'{Site}fhvhv_tripdata_{set_data_year}-05.parquet',
                  f'{Site}fhvhv_tripdata_{set_data_year}-06.parquet',
                  f'{Site}fhvhv_tripdata_{set_data_year}-07.parquet',
                  f'{Site}fhvhv_tripdata_{set_data_year}-08.parquet',
                  f'{Site}fhvhv_tripdata_{set_data_year}-09.parquet',
                  f'{Site}fhvhv_tripdata_{set_data_year}-10.parquet',
                  f'{Site}fhvhv_tripdata_{set_data_year}-11.parquet',
                  f'{Site}fhvhv_tripdata_{set_data_year}-12.parquet']
datasite_yellow = [f'{Site}yellow_tripdata_{set_data_year}-01.parquet',
                   f'{Site}yellow_tripdata_{set_data_year}-02.parquet',
                   f'{Site}yellow_tripdata_{set_data_year}-03.parquet',
                   f'{Site}yellow_tripdata_{set_data_year}-04.parquet',
                   f'{Site}yellow_tripdata_{set_data_year}-05.parquet',
                   f'{Site}yellow_tripdata_{set_data_year}-06.parquet',
                   f'{Site}yellow_tripdata_{set_data_year}-07.parquet',
                   f'{Site}yellow_tripdata_{set_data_year}-08.parquet',
                   f'{Site}yellow_tripdata_{set_data_year}-09.parquet',
                   f'{Site}yellow_tripdata_{set_data_year}-10.parquet',
                   f'{Site}yellow_tripdata_{set_data_year}-11.parquet',
                   f'{Site}yellow_tripdata_{set_data_year}-12.parquet']


print("done時間:", datetime.datetime.now())

done時間: 2023-08-14 20:46:44.068009

### 留下需要特徵 & 移除不在當月資料
    HVFHV: 'hvfhs_license_num','pickup_datetime','dropoff_datetime','PULocationID','DOLocationID','trip_miles','trip_time','base_passenger_fare'
    
    Yellow: 'tpep_pickup_datetime','tpep_dropoff_datetime','trip_distance','PULocationID','DOLocationID','fare_amount'

In [3]:
# 記錄開始時間
start_time = time.time()


# 建立一個空的DataFrame來存放合併後的數據
df_fhvhv = pd.DataFrame()
df_yellow = pd.DataFrame()

data_year = set_data_year
data_month = set_data_month
temp0_total_fhvfv = 0
temp1_total_fhvfv = 0
temp0_total_yellow = 0
temp1_total_yellow = 0
# 逐一讀取並合併所有Parquet檔案
for file in datasite_fhvhv:
    # 使用pandas的read_parquet函數讀取Parquet檔案並將其轉換為DataFrame
    df = pd.read_parquet(file)
    temp_0 = df.shape[0]
    temp0_total_fhvfv += temp_0
    # 留下需要的欄位
    df =  df[['hvfhs_license_num','pickup_datetime','dropoff_datetime','PULocationID','DOLocationID','trip_miles','trip_time','shared_match_flag']]
    # 移除非當月的data
    df =  df[(df['pickup_datetime'].dt.year == data_year) & (df['pickup_datetime'].dt.month == data_month)]
    temp_1 = df.shape[0]
    temp1_total_fhvfv += temp_1
    # 查看剩餘資料量
    print('fhvfv-',data_year,'-',data_month)
    print('初始筆數:',temp_0)
    print('剩餘筆數:',temp_1)
    if temp_0 > temp_1 :
        print('移除佔比:',round(100-(temp_1/temp_0*100),5),"%")
    else:
        print('移除佔比: 0%')
    # 年月處理
    if data_month == 12:
        data_year += 1
        data_month = 1
    else :
        data_month += 1
    # 將數據合併到已有的DataFrame中
    df_fhvhv = pd.concat([df_fhvhv, df], ignore_index=True)
    
    

data_year = set_data_year
data_month = set_data_month
for file in datasite_yellow:
    # 使用pandas的read_parquet函數讀取Parquet檔案並將其轉換為DataFrame
    df = pd.read_parquet(file)
    temp_0 = df.shape[0]
    temp0_total_yellow += temp_0
    # 留下需要的欄位
    df =  df[['tpep_pickup_datetime','tpep_dropoff_datetime','trip_distance','PULocationID','DOLocationID']]
    # 移除非當月的data
    df =  df[(df['tpep_pickup_datetime'].dt.year == data_year) & (df['tpep_pickup_datetime'].dt.month == data_month)]
    temp_1 = df.shape[0]
    temp1_total_yellow += temp_1
    # 查看剩餘資料量
    print('yellow-',data_year,'-',data_month)
    print('初始筆數:',temp_0)
    print('剩餘筆數:',temp_1)
    if temp_0 > temp_1 :
        print('移除佔比:',round(100-(temp_1/temp_0*100),5),"%")
    else:
        print('移除佔比: 0%')
    # 年月處理
    if data_month == 12:
        data_year += 1
        data_month = 1
    else :
        data_month += 1
    # 將數據合併到已有的DataFrame中
    df_yellow = pd.concat([df_yellow, df], ignore_index=True)
    
    
print('----fhvfv----')
print('初始總筆數:',temp0_total_fhvfv)
print('剩餘總筆數:',temp1_total_fhvfv)
if temp0_total_fhvfv > temp1_total_fhvfv :
    print('移除佔比:',round(100-(temp1_total_fhvfv/temp0_total_fhvfv*100),5),"%")
else:
    print('移除佔比: 0%')

print('----yellow----')
print('初始總筆數:',temp0_total_yellow)
print('剩餘總筆數:',temp1_total_yellow)
if temp0_total_yellow > temp1_total_yellow :
    print('移除佔比:',round(100-(temp1_total_yellow/temp0_total_yellow*100),5),"%")
else:
    print('移除佔比: 0%')

# 記錄結束時間
end_time = time.time()
# 計算程式執行花費的時間
execution_time = end_time - start_time
print("\n程式執行花費的時間：", round(execution_time,2), "秒")


#清理暫存
del data_month,data_year,df,temp_0,temp_1,temp0_total_yellow,temp1_total_yellow
print("done時間:", datetime.datetime.now())

fhvfv- 2021 - 1
初始筆數: 11908468
剩餘筆數: 11908468
移除佔比: 0%
yellow- 2021 - 1
初始筆數: 1369769
剩餘筆數: 1369745
移除佔比: 0.00175 %
----fhvfv----
初始總筆數: 11908468
剩餘總筆數: 11908468
移除佔比: 0%
----yellow----
初始總筆數: 1369769
剩餘總筆數: 1369745
移除佔比: 0.00175 %

程式執行花費的時間： 10.51 秒
done時間: 2023-08-14 20:47:09.770600

In [5]:
df_fhvhv

,hvfhs_license_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,shared_match_flag
0,HV0003,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,5.26,923,N
1,HV0003,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,3.65,1382,N
2,HV0003,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,3.51,849,N
3,HV0003,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,0.74,179,N
4,HV0003,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,9.20,1228,N
...,...,...,...,...,...,...,...,...
11908463,HV0003,2021-01-31 23:25:40,2021-01-31 23:40:10,89,71,2.29,870,N
11908464,HV0003,2021-01-31 23:29:31,2021-01-31 23:47:44,182,167,4.10,1093,N
11908465,HV0003,2021-01-31 23:49:32,2021-02-01 00:04:36,167,169,2.40,904,N
11908466,HV0003,2021-01-31 23:09:29,2021-01-31 23:27:46,188,37,3.60,1097,N
11908467,HV0003,2021-01-31 23:28:33,2021-01-31 23:56:36,37,4,5.76,1683,N

In [6]:
df_yellow

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID
0,2021-01-01 00:30:10,2021-01-01 00:36:12,2.10,142,43
1,2021-01-01 00:51:20,2021-01-01 00:52:19,0.20,238,151
2,2021-01-01 00:43:30,2021-01-01 01:11:06,14.70,132,165
3,2021-01-01 00:15:48,2021-01-01 00:31:01,10.60,138,132
4,2021-01-01 00:31:49,2021-01-01 00:48:21,4.94,68,33
...,...,...,...,...,...
1369740,2021-01-31 23:03:00,2021-01-31 23:33:00,8.89,229,181
1369741,2021-01-31 23:29:00,2021-01-31 23:51:00,7.43,41,70
1369742,2021-01-31 23:25:00,2021-01-31 23:38:00,6.26,74,137
1369743,2021-01-31 23:01:06,2021-02-01 00:02:03,19.70,265,188
1369744,2021-01-31 23:08:29,2021-01-31 23:31:22,4.68,89,61

### 特徵整理,統一命名
HVFHV:'hvfhs_license_num','pickup_datetime','dropoff_datetime','PULocationID','DOLocationID','trip_miles','trip_time'
Yellow:'tpep_pickup_datetime','tpep_dropoff_datetime','trip_distance','PULocationID','DOLocationID'


    newname (HVFHV/Yellow/Green)
    1.TLC 許可證號 : Name(hvfhs_license_num/--/--)
        *改為名稱標記 HV0003-uber/HV0005-lyft/yellow
    2.上車時間 : BoardingTime (pickup_datetime/tpep_pickup_datetime/lpep_pickup_datetime)
    3.下車時間 : DisembarkingTime (dropoff_datetime/tpep_dropoff_datetime/lpep_dropoff_datetime)
    4.上車地點ID : PULocationID (PULocationID/PULocationID/PULocationID)
    5.下車地點ID : DOLocationID (DOLocationID/DOLocationID/DOLocationID)
    6.行駛里程 : TripMiles (trip_miles/trip_distance/trip_distance)
    7.行駛時間(秒) : TripTime (trip_time/--/--)
        *驗證是否正確?
        *下車時間-上車時間
    8.共乘 : shared_match_flag (shared_match_flag/--/--)
    9.節日 : is_holiday(--/--/--)
    10.星期 : weekday(--/--/--)

In [7]:
# 記錄開始時間
start_time = time.time()

df_TLC = pd.DataFrame()
#名稱統一
rename_dict_fhvhv = {'hvfhs_license_num':'Name','pickup_datetime': 'BoardingTime', 'dropoff_datetime': 'DisembarkingTime', 'PULocationID': 'PULocationID','DOLocationID':'DOLocationID', 'trip_miles': 'TripMiles', 'trip_time': 'TripTime', 'base_passenger_fare': 'BaseFare','shared_match_flag':'shared_match_flag'}
df_fhvhv.rename(columns=rename_dict_fhvhv, inplace=True)
rename_dict_yellow = {'tpep_pickup_datetime': 'BoardingTime', 'tpep_dropoff_datetime': 'DisembarkingTime', 'PULocationID': 'PULocationID','DOLocationID':'DOLocationID', 'trip_distance': 'TripMiles', 'fare_amount': 'BaseFare'}
df_yellow.rename(columns=rename_dict_yellow, inplace=True)

#fhvhv_Name
df_fhvhv.loc[df_fhvhv['Name'] == 'HV0003', 'Name'] = 'uber'
df_fhvhv.loc[df_fhvhv['Name'] == 'HV0005', 'Name'] = 'lyft'

#yellow 新增特徵 TripTime,Name
df_yellow['TripTime'] = (df_yellow['DisembarkingTime'] - df_yellow['BoardingTime']).dt.total_seconds()
df_yellow['Name'] = 'yellow'
df_yellow['shared_match_flag'] = 'N'
#yellow合併到fhvhv
df_yellow = df_yellow.reindex(columns = df_fhvhv.columns)
df_TLC = pd.concat([df_fhvhv, df_yellow], ignore_index=True)


# 記錄結束時間
end_time = time.time()
# 計算程式執行花費的時間
execution_time = end_time - start_time
print("程式執行花費的時間：", round(execution_time,2), "秒")

#清理暫存
del df_yellow ,df_fhvhv
print("done時間:", datetime.datetime.now())

程式執行花費的時間： 1.97 秒
done時間: 2023-08-14 20:47:54.070068

### 紀錄初始資料筆數

In [8]:
#紀錄初始資料筆數
init_df_TLC_shape = df_TLC.shape
init_df_uber_shape = df_TLC[df_TLC['Name']=='uber'].shape
init_df_lyft_shape = df_TLC[df_TLC['Name']=='lyft'].shape
init_df_yellow_shape = df_TLC[df_TLC['Name']=='yellow'].shape
print(f'{init_df_TLC_shape = }')
print(f'{init_df_uber_shape = }')
print(f'{init_df_lyft_shape = }')
print(f'{init_df_yellow_shape = }')

print("\ndone時間:", datetime.datetime.now())

init_df_TLC_shape = (13278213, 8)
init_df_uber_shape = (8704128, 8)
init_df_lyft_shape = (3094325, 8)
init_df_yellow_shape = (1369745, 8)

done時間: 2023-08-14 20:47:58.749948

### 缺失值確認

In [9]:
df_TLC.isnull().sum()

Name                 0
BoardingTime         0
DisembarkingTime     0
PULocationID         0
DOLocationID         0
TripMiles            0
TripTime             0
shared_match_flag    0
dtype: int64

### 移除非目標車商

In [10]:
#查看目前有的車商
print(df_TLC['Name'].unique())

print("\ndone時間:", datetime.datetime.now())

['uber' 'lyft' 'HV0004' 'yellow']

done時間: 2023-08-14 20:48:02.442825

In [11]:
#筆數計算
print('筆數 = ', df_TLC[(df_TLC['Name'] == 'HV0004')].shape[0])
print('占比 = ',round(df_TLC[(df_TLC['Name'] == 'HV0004')].shape[0] / init_df_TLC_shape[0]*100,4),'%' )

print("\ndone時間:", datetime.datetime.now())

筆數 =  110015
占比 =  0.8285 %

done時間: 2023-08-14 20:48:04.947519

In [12]:
#移除
df_TLC = df_TLC.drop(df_TLC[df_TLC['Name'] == 'HV0004'].index)
print(df_TLC['Name'].unique())

print("\ndone時間:",datetime.datetime.now())

['uber' 'lyft' 'yellow']

done時間: 2023-08-14 20:48:08.250612

### 移除上車地點 PULocationID 未知 (264,265)

In [13]:
#筆數計算
print('264筆數 = ', df_TLC[(df_TLC['PULocationID'] == 264)].shape[0])
print('265筆數 = ', df_TLC[(df_TLC['PULocationID'] == 265)].shape[0])
print('占比 = ',round(df_TLC[(df_TLC['PULocationID'] == 264) | (df_TLC['PULocationID'] == 265)].shape[0] / init_df_TLC_shape[0]*100,4),'%' )

print("\ndone時間:", datetime.datetime.now())

264筆數 =  9499
265筆數 =  11709
占比 =  0.1597 %

done時間: 2023-08-14 20:48:09.506522

In [14]:
df_TLC = df_TLC[~df_TLC['PULocationID'].isin([264, 265])]

#check-必須為0
print('上車未知剩餘筆數 = ',df_TLC[(df_TLC['PULocationID'] == 264) | (df_TLC['PULocationID'] == 265)].shape[0])
print("\ndone時間:", datetime.datetime.now())

上車未知剩餘筆數 =  0

done時間: 2023-08-14 20:48:11.489564

### 移除不符合的共乘資料
    UBER 2020/3/17-2022/6/20
    LYFT 2020/3/17-2021/8/18
         2023/5/12-

In [15]:
#uber,lyft
# 定義起始日期和結束日期
uber_start_date = pd.to_datetime('2020-03-17')
uber_end_date = pd.to_datetime('2022-06-20')
lyft_start_date = pd.to_datetime('2020-03-17')
lyft_end_date = pd.to_datetime('2021-08-18')
lyft_start_date1 = pd.to_datetime('2023-05-12')

#筆數計算
temp_uber = ((df_TLC['Name'] == 'uber') & (df_TLC['shared_match_flag'] == 'Y') & (df_TLC['BoardingTime'].between(uber_start_date, uber_end_date))).sum()
print('uber共乘筆數 = ',temp_uber)
print('占比 = ',round(temp_uber / init_df_uber_shape[0]*100,4),'%' )
temp_lyft = ((df_TLC['Name'] == 'lyft') & (df_TLC['shared_match_flag'] == 'Y') & ((df_TLC['BoardingTime'].between(lyft_start_date, lyft_end_date))|(df_TLC['BoardingTime'] >= lyft_start_date1 ))).sum()
print('lyft共乘筆數 = ',temp_lyft)
print('占比 = ',round(temp_lyft / init_df_lyft_shape[0]*100,4),'%' )

print("\ndone時間:", datetime.datetime.now())

#清理暫存
del temp_uber ,temp_lyft

uber共乘筆數 =  0
占比 =  0.0 %
lyft共乘筆數 =  0
占比 =  0.0 %

done時間: 2023-08-14 20:48:15.409188

In [17]:
# 過濾條件：shared_match_flag為Y且BoardingTime介於指定日期之間
df_TLC = df_TLC[~ ((df_TLC['Name'] == 'uber') & (df_TLC['shared_match_flag'] == 'Y') & (df_TLC['BoardingTime'].between(uber_start_date, uber_end_date)))]
df_TLC = df_TLC[~ ((df_TLC['Name'] == 'lyft') & (df_TLC['shared_match_flag'] == 'Y') & ((df_TLC['BoardingTime'].between(lyft_start_date, lyft_end_date))|(df_TLC['BoardingTime'] >= lyft_start_date1 )))]


#check-必須為0
print('uber不符合的共乘資料剩餘筆數 = ',df_TLC[(df_TLC['Name'] == 'uber') & (df_TLC['shared_match_flag'] == 'Y') & (df_TLC['BoardingTime'].between(uber_start_date, uber_end_date))].shape[0]  )
print('lyft不符合的共乘資料剩餘筆數 = ',df_TLC[(df_TLC['Name'] == 'lyft') & (df_TLC['shared_match_flag'] == 'Y') & ((df_TLC['BoardingTime'].between(lyft_start_date, lyft_end_date))|(df_TLC['BoardingTime'] >= lyft_start_date1 ))].shape[0]  )
print("\ndone時間:", datetime.datetime.now())

#清理暫存
del uber_start_date ,uber_end_date,lyft_start_date,lyft_end_date,lyft_start_date1

uber不符合的共乘資料剩餘筆數 =  0
lyft不符合的共乘資料剩餘筆數 =  0

done時間: 2023-08-14 20:48:56.526101

###　不處理  trip_time != DisembarkingTime - BoardingTime
### 移除 TripTime <= 0

In [18]:
#記錄開始時間
start_time = time.time()

#印出資訊
temp_uber = ((df_TLC['Name'] == 'uber') & (df_TLC['TripTime'] <= 0)).sum()
print("uber筆數 = ",temp_uber)
print('占比 = ',round(temp_uber / init_df_uber_shape[0]*100,5),'%' )

temp_lyft = ((df_TLC['Name'] == 'lyft') & (df_TLC['TripTime'] <= 0)).sum()
print("lyft筆數 = ",temp_lyft)
print('占比 = ',round(temp_lyft / init_df_lyft_shape[0]*100,5),'%' )

temp_yellow = ((df_TLC['Name'] == 'yellow') & (df_TLC['TripTime'] <= 0)).sum()
print("yellow筆數 = ",temp_yellow)
print('占比 = ',round(temp_yellow / init_df_yellow_shape[0]*100,5),'%' )

#記錄結束時間
end_time = time.time()
#計算程式執行花費的時間
execution_time = end_time - start_time
print("\n程式執行花費的時間：", round(execution_time,2), "秒")
print("\ndone時間:", datetime.datetime.now())

uber筆數 =  0
占比 =  0.0 %
lyft筆數 =  0
占比 =  0.0 %
yellow筆數 =  724
占比 =  0.05286 %

程式執行花費的時間： 2.18 秒

done時間: 2023-08-14 20:49:06.682209

In [19]:
#移除 (df_TLC['TripTime'] <= 0)
df_TLC = df_TLC.drop(df_TLC[df_TLC['TripTime'] <= 0].index)
#check-必須為0
print('TripTime<=0剩餘筆數:',(df_TLC['TripTime'] <= 0).sum())
print("\ndone時間:", datetime.datetime.now())

TripTime<=0剩餘筆數: 0

done時間: 2023-08-14 20:49:09.957968

### 移除TripMiles <= 0

In [20]:
#記錄開始時間
start_time = time.time()

#印出資訊
temp_uber = ((df_TLC['Name'] == 'uber') & (df_TLC['TripMiles'] <= 0)).sum()
print("uber筆數 = ",temp_uber)
print('占比 = ',round(temp_uber / init_df_uber_shape[0]*100,4),'%' )

temp_lyft = ((df_TLC['Name'] == 'lyft') & (df_TLC['TripMiles'] <= 0)).sum()
print("lyft筆數 = ",temp_lyft)
print('占比 = ',round(temp_lyft / init_df_lyft_shape[0]*100,4),'%' )

temp_yellow = ((df_TLC['Name'] == 'yellow') & (df_TLC['TripMiles'] <= 0)).sum()
print("yellow筆數 = ",temp_yellow)
print('占比 = ',round(temp_yellow / init_df_yellow_shape[0]*100,4),'%' )

#記錄結束時間
end_time = time.time()
#計算程式執行花費的時間
execution_time = end_time - start_time
print("\n程式執行花費的時間：", round(execution_time,2), "秒")

del temp_uber,temp_lyft,temp_yellow
print("done時間:",datetime.datetime.now())

uber筆數 =  1357
占比 =  0.0156 %
lyft筆數 =  328
占比 =  0.0106 %
yellow筆數 =  18277
占比 =  1.3343 %

程式執行花費的時間： 2.12 秒
done時間: 2023-08-14 20:49:12.766302

In [21]:
#移除 (df_TLC['TripMiles'] <= 0)
df_TLC = df_TLC.drop(df_TLC[df_TLC['TripMiles'] <= 0].index)
#check-必須為0
print('TripMiles<=0剩餘筆數:',(df_TLC['TripMiles'] <= 0).sum())
print("\ndone時間:", datetime.datetime.now())

TripMiles<=0剩餘筆數: 0

done時間: 2023-08-14 20:49:16.914041

### 新增節日相關資訊

In [22]:
# from holidays.calendars import gregorian
class AllHolidays(US):
    def _populate(self, year):
        super()._populate(year)
        self.pop_named("Lincoln's Birthday")
        self.pop_named("Susan B. Anthony Day")
        
        self._add_holiday("Valentine's Day", 2, 14)
        self._add_holiday("St.Patrick's Day", 3, 17)
        self._add_holiday("Halloween", 10, 31)
        
#        self._add_holiday("Thanksgiving weekend", 
#                          self._get_nth_weekday_of_month(month=11, n=4, weekday=4))
#        self._add_holiday("Thanksgiving weekend", 
#                          self._get_nth_weekday_of_month(month=11, n=4, weekday=5))
#        self._add_holiday("Thanksgiving weekend", 
#                          self._get_nth_weekday_of_month(month=11, n=4, weekday=6))
        
        self._add_holiday("Christmas Eve", 12, 24)
        self._add_holiday("Christmas season", 12, 26)
        self._add_holiday("Christmas season", 12, 27)
        self._add_holiday("Christmas season", 12, 28)
        self._add_holiday("Christmas season", 12, 29)
        self._add_holiday("Christmas season", 12, 30)
        
        self._add_holiday("New Year's Eve", 12, 31)

# 實例化AllHolidays
ny_holidays_all = AllHolidays(subdiv='NY', years=[2019, 2020, 2021, 2022, 2023])

# 新增2019~2023年的復活節、復活節星期一
ny_holidays_all[datetime.date(2019, 4, 21)] = "Easter"
ny_holidays_all[datetime.date(2019, 4, 22)] = "Easter Monday"
ny_holidays_all[datetime.date(2020, 4, 12)] = "Easter"
ny_holidays_all[datetime.date(2020, 4, 13)] = "Easter Monday"
ny_holidays_all[datetime.date(2021, 4, 4)] = "Easter"
ny_holidays_all[datetime.date(2021, 4, 5)] = "Easter Monday"
ny_holidays_all[datetime.date(2022, 4, 17)] = "Easter"
ny_holidays_all[datetime.date(2022, 4, 18)] = "Easter Monday"
ny_holidays_all[datetime.date(2023, 4, 9)] = "Easter"
ny_holidays_all[datetime.date(2023, 4, 10)] = "Easter Monday"

# 新增2019~2023感恩節
ny_holidays_all[datetime.date(2019,11, 28)] = "Thanksgiving weekend"
ny_holidays_all[datetime.date(2019,11, 29)] = "Thanksgiving weekend"
ny_holidays_all[datetime.date(2019,11, 30)] = "Thanksgiving weekend"
ny_holidays_all[datetime.date(2020,11, 26)] = "Thanksgiving weekend"
ny_holidays_all[datetime.date(2020,11, 27)] = "Thanksgiving weekend"
ny_holidays_all[datetime.date(2020,11, 28)] = "Thanksgiving weekend"
ny_holidays_all[datetime.date(2021,11, 25)] = "Thanksgiving weekend"
ny_holidays_all[datetime.date(2021,11, 26)] = "Thanksgiving weekend"
ny_holidays_all[datetime.date(2021,11, 27)] = "Thanksgiving weekend"
ny_holidays_all[datetime.date(2022,11, 24)] = "Thanksgiving weekend"
ny_holidays_all[datetime.date(2022,11, 25)] = "Thanksgiving weekend"
ny_holidays_all[datetime.date(2022,11, 26)] =  "Thanksgiving weekend"
ny_holidays_all[datetime.date(2023,11, 23)] = "Thanksgiving weekend"
ny_holidays_all[datetime.date(2023,11, 24)] = "Thanksgiving weekend"
ny_holidays_all[datetime.date(2023,11, 25)] = "Thanksgiving weekend"

# 查看
for i in sorted(ny_holidays_all.items()):
    print(i)

del i

(datetime.date(2019, 1, 1), "New Year's Day")
(datetime.date(2019, 1, 21), 'Martin Luther King Jr. Day')
(datetime.date(2019, 2, 14), "Valentine's Day")
(datetime.date(2019, 2, 18), "Washington's Birthday")
(datetime.date(2019, 3, 17), "St.Patrick's Day")
(datetime.date(2019, 4, 21), 'Easter')
(datetime.date(2019, 4, 22), 'Easter Monday')
(datetime.date(2019, 5, 27), 'Memorial Day')
(datetime.date(2019, 7, 4), 'Independence Day')
(datetime.date(2019, 9, 2), 'Labor Day')
(datetime.date(2019, 10, 14), 'Columbus Day')
(datetime.date(2019, 10, 31), 'Halloween')
(datetime.date(2019, 11, 5), 'Election Day')
(datetime.date(2019, 11, 11), 'Veterans Day')
(datetime.date(2019, 11, 28), 'Thanksgiving')
(datetime.date(2019, 12, 24), 'Christmas Eve')
(datetime.date(2019, 12, 25), 'Christmas Day')
(datetime.date(2019, 12, 26), 'Christmas season')
(datetime.date(2019, 12, 27), 'Christmas season')
(datetime.date(2019, 12, 28), 'Christmas season')
(datetime.date(2019, 12, 29), 'Christmas season')
(datetime.date(2019, 12, 30), 'Christmas season')
(datetime.date(2019, 12, 31), "New Year's Eve")
(datetime.date(2020, 1, 1), "New Year's Day")
(datetime.date(2020, 1, 20), 'Martin Luther King Jr. Day')
(datetime.date(2020, 2, 14), "Valentine's Day")
(datetime.date(2020, 2, 17), "Washington's Birthday")
(datetime.date(2020, 3, 17), "St.Patrick's Day")
(datetime.date(2020, 4, 12), 'Easter')
(datetime.date(2020, 4, 13), 'Easter Monday')
(datetime.date(2020, 5, 25), 'Memorial Day')
(datetime.date(2020, 7, 3), 'Independence Day (Observed)')
(datetime.date(2020, 7, 4), 'Independence Day')
(datetime.date(2020, 9, 7), 'Labor Day')
(datetime.date(2020, 10, 12), 'Columbus Day')
(datetime.date(2020, 10, 31), 'Halloween')
(datetime.date(2020, 11, 3), 'Election Day')
(datetime.date(2020, 11, 11), 'Veterans Day')
(datetime.date(2020, 11, 26), 'Thanksgiving')
(datetime.date(2020, 12, 24), 'Christmas Eve')
(datetime.date(2020, 12, 25), 'Christmas Day')
(datetime.date(2020, 12, 26), 'Christmas season')
(datetime.date(2020, 12, 27), 'Christmas season')
(datetime.date(2020, 12, 28), 'Christmas season')
(datetime.date(2020, 12, 29), 'Christmas season')
(datetime.date(2020, 12, 30), 'Christmas season')
(datetime.date(2020, 12, 31), "New Year's Eve")
(datetime.date(2021, 1, 1), "New Year's Day")
(datetime.date(2021, 1, 18), 'Martin Luther King Jr. Day')
(datetime.date(2021, 2, 14), "Valentine's Day")
(datetime.date(2021, 2, 15), "Washington's Birthday")
(datetime.date(2021, 3, 17), "St.Patrick's Day")
(datetime.date(2021, 4, 4), 'Easter')
(datetime.date(2021, 4, 5), 'Easter Monday')
(datetime.date(2021, 5, 31), 'Memorial Day')
(datetime.date(2021, 6, 18), 'Juneteenth National Independence Day (Observed)')
(datetime.date(2021, 6, 19), 'Juneteenth National Independence Day')
(datetime.date(2021, 7, 4), 'Independence Day')
(datetime.date(2021, 7, 5), 'Independence Day (Observed)')
(datetime.date(2021, 9, 6), 'Labor Day')
(datetime.date(2021, 10, 11), 'Columbus Day')
(datetime.date(2021, 10, 31), 'Halloween')
(datetime.date(2021, 11, 2), 'Election Day')
(datetime.date(2021, 11, 11), 'Veterans Day')
(datetime.date(2021, 11, 25), 'Thanksgiving')
(datetime.date(2021, 12, 24), 'Christmas Day (Observed); Christmas Eve')
(datetime.date(2021, 12, 25), 'Christmas Day')
(datetime.date(2021, 12, 26), 'Christmas season')
(datetime.date(2021, 12, 27), 'Christmas season')
(datetime.date(2021, 12, 28), 'Christmas season')
(datetime.date(2021, 12, 29), 'Christmas season')
(datetime.date(2021, 12, 30), 'Christmas season')
(datetime.date(2021, 12, 31), "New Year's Day (Observed); New Year's Eve")
(datetime.date(2022, 1, 1), "New Year's Day")
(datetime.date(2022, 1, 17), 'Martin Luther King Jr. Day')
(datetime.date(2022, 2, 14), "Valentine's Day")
(datetime.date(2022, 2, 21), "Washington's Birthday")
(datetime.date(2022, 3, 17), "St.Patrick's Day")
(datetime.date(2022, 4, 17), 'Easter')
(datetime.date(2022, 4, 18), 'Easter Monday')
(datetime.date(2022, 5, 30), 'Memorial Day')
(datetime.date(2022, 6, 19), 'Juneteenth National Independence Day')
(datetime.date(2022, 6, 20), 'Juneteenth National Independence Day (Observed)')
(datetime.date(2022, 7, 4), 'Independence Day')
(datetime.date(2022, 9, 5), 'Labor Day')
(datetime.date(2022, 10, 10), 'Columbus Day')
(datetime.date(2022, 10, 31), 'Halloween')
(datetime.date(2022, 11, 8), 'Election Day')
(datetime.date(2022, 11, 11), 'Veterans Day')
(datetime.date(2022, 11, 24), 'Thanksgiving')
(datetime.date(2022, 12, 24), 'Christmas Eve')
(datetime.date(2022, 12, 25), 'Christmas Day')
(datetime.date(2022, 12, 26), 'Christmas Day (Observed); Christmas season')
(datetime.date(2022, 12, 27), 'Christmas season')
(datetime.date(2022, 12, 28), 'Christmas season')
(datetime.date(2022, 12, 29), 'Christmas season')
(datetime.date(2022, 12, 30), 'Christmas season')
(datetime.date(2022, 12, 31), "New Year's Eve")
(datetime.date(2023, 1, 1), "New Year's Day")
(datetime.date(2023, 1, 2), "New Year's Day (Observed)")
(datetime.date(2023, 1, 16), 'Martin Luther King Jr. Day')
(datetime.date(2023, 2, 14), "Valentine's Day")
(datetime.date(2023, 2, 20), "Washington's Birthday")
(datetime.date(2023, 3, 17), "St.Patrick's Day")
(datetime.date(2023, 4, 9), 'Easter')
(datetime.date(2023, 4, 10), 'Easter Monday')
(datetime.date(2023, 5, 29), 'Memorial Day')
(datetime.date(2023, 6, 19), 'Juneteenth National Independence Day')
(datetime.date(2023, 7, 4), 'Independence Day')
(datetime.date(2023, 9, 4), 'Labor Day')
(datetime.date(2023, 10, 9), 'Columbus Day')
(datetime.date(2023, 10, 31), 'Halloween')
(datetime.date(2023, 11, 7), 'Election Day')
(datetime.date(2023, 11, 10), 'Veterans Day (Observed)')
(datetime.date(2023, 11, 11), 'Veterans Day')
(datetime.date(2023, 11, 23), 'Thanksgiving')
(datetime.date(2023, 12, 24), 'Christmas Eve')
(datetime.date(2023, 12, 25), 'Christmas Day')
(datetime.date(2023, 12, 26), 'Christmas season')
(datetime.date(2023, 12, 27), 'Christmas season')
(datetime.date(2023, 12, 28), 'Christmas season')
(datetime.date(2023, 12, 29), 'Christmas season')
(datetime.date(2023, 12, 30), 'Christmas season')
(datetime.date(2023, 12, 31), "New Year's Eve")

In [23]:
# 增加所有節日標籤
# all_data為Uber, Lyft, Yellow合併後的DataFrame，再請自行修改名稱
df_TLC['is_holiday'] = np.where(df_TLC['BoardingTime'].dt.date.isin(ny_holidays_all), True, False)
print(df_TLC['is_holiday'].value_counts())

df_TLC['is_holiday'].value_counts()
print("\ndone時間:", datetime.datetime.now())

is_holiday
False    12338967
True       787337
Name: count, dtype: int64

done時間: 2023-08-14 20:49:24.604606

### 新增星期特徵
    #星期幾 (用上車時間 BoardingTime)
    #(一,二,三,四,五,六,日) = (0,1,2,3,4,5,6)

In [24]:
#記錄開始時間
start_time = time.time()

df_TLC['weekday'] = (pd.to_datetime(df_TLC['BoardingTime'])).dt.weekday
df_TLC['date'] = (pd.to_datetime(df_TLC['BoardingTime'])).dt.date
df_TLC['year'] = (pd.to_datetime(df_TLC['BoardingTime'])).dt.year
df_TLC['month'] = (pd.to_datetime(df_TLC['BoardingTime'])).dt.month
df_TLC['day'] = (pd.to_datetime(df_TLC['BoardingTime'])).dt.day
df_TLC['hour'] = (pd.to_datetime(df_TLC['BoardingTime'])).dt.hour

#記錄結束時間
end_time = time.time()
#計算程式執行花費的時間
execution_time = end_time - start_time
print("程式執行花費的時間：", round(execution_time,2), "秒")
print("done時間:", datetime.datetime.now())

程式執行花費的時間： 8.27 秒
done時間: 2023-08-14 20:49:33.929743

### 時間序列
    'Name','date','year','month','day','hour','weekday','PULocationID','DOLocationID',
    'TripMiles','TripTime','shared_match_flag'

In [26]:
#記錄開始時間
start_time = time.time()

dfTime_TLC = df_TLC.groupby(['Name','year','month','day',
                     'hour','weekday','PULocationID','is_holiday'
                  ]).size().reset_index(name="次數")

#記錄結束時間
end_time = time.time()
#計算程式執行花費的時間
execution_time = end_time - start_time
print("程式執行花費的時間：", round(execution_time,2), "秒")
print("done時間:", datetime.datetime.now())

程式執行花費的時間： 2.98 秒
done時間: 2023-08-14 20:49:39.548779

In [27]:
dfTime_TLC

          Name  year  month  day  hour  weekday  PULocationID  次數
0         lyft  2021      1    1     0        4             3  15
1         lyft  2021      1    1     0        4             4  41
2         lyft  2021      1    1     0        4             6   4
3         lyft  2021      1    1     0        4             7  64
4         lyft  2021      1    1     0        4             9   2
...        ...   ...    ...  ...   ...      ...           ...  ..
434241  yellow  2021      1   31    23        6           244   1
434242  yellow  2021      1   31    23        6           246   4
434243  yellow  2021      1   31    23        6           249   3
434244  yellow  2021      1   31    23        6           262   2
434245  yellow  2021      1   31    23        6           263  10

[434246 rows x 8 columns]

In [28]:
df_TLC

,Name,BoardingTime,DisembarkingTime,PULocationID,DOLocationID,TripMiles,TripTime,shared_match_flag,is_holiday,weekday,date,year,month,day,hour
0,uber,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,5.26,923.0,N,True,4,2021-01-01,2021,1,1,0
1,uber,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,3.65,1382.0,N,True,4,2021-01-01,2021,1,1,0
2,uber,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,3.51,849.0,N,True,4,2021-01-01,2021,1,1,0
3,uber,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,0.74,179.0,N,True,4,2021-01-01,2021,1,1,0
4,uber,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,9.20,1228.0,N,True,4,2021-01-01,2021,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13278207,yellow,2021-01-31 23:04:00,2021-01-31 23:18:00,159,259,7.74,840.0,N,False,6,2021-01-31,2021,1,31,23
13278208,yellow,2021-01-31 23:03:00,2021-01-31 23:33:00,229,181,8.89,1800.0,N,False,6,2021-01-31,2021,1,31,23
13278209,yellow,2021-01-31 23:29:00,2021-01-31 23:51:00,41,70,7.43,1320.0,N,False,6,2021-01-31,2021,1,31,23
13278210,yellow,2021-01-31 23:25:00,2021-01-31 23:38:00,74,137,6.26,780.0,N,False,6,2021-01-31,2021,1,31,23
13278212,yellow,2021-01-31 23:08:29,2021-01-31 23:31:22,89,61,4.68,1373.0,N,False,6,2021-01-31,2021,1,31,23

### 輸出為一份新檔案

In [ ]:
custom_output_path = './dfTime'

dfTime_TLC.to_parquet(f'{custom_output_path}/dfTime_TLC-{set_data_year}.parquet')
print("done時間:", datetime.datetime.now())

done時間: 2023-08-14 14:31:25.275645

In [ ]:
custom_output_path = './dfTLC'

df_TLC.to_parquet(f'{custom_output_path}/TLC-{set_data_year}.parquet')
print("done時間:", datetime.datetime.now())

done時間: 2023-08-14 14:30:34.736060